卡号 : <%= curr_card_number %>

    <div class="columns">

        <!-- 第一列 -->
        <div class="column is-half" id="his_record">

            <div class="columns">
                <div class="column is-1">ID</div>
                <div class="column is-2">业务<br>摘要</div>
                <div class="column is-3">交易时间</div>
                <div class="column is-2">交易<br>金额</div>
                <div class="column is-2">余额</div>
            </div>

            <% histransacs.forEach( function(histransac) { %>
                <form class="columns" action="/transac/details/" method="POST">

                    <div class="column is-1">
                        <%= histransac.id %>
                            <input type="hidden" name="histransac_id" value="<%= histransac.id %>" />
                            <input type="hidden" name="curr_card_number" value="<%= curr_card_number %>" />
                    </div>
                    <div class="column is-2">
                        <%= histransac.business_summary %>
                    </div>
                    <% if (histransac.remittance_card_number==curr_card_number) { %>
                        <div class="column is-3">
                            <%= histransac.remittance_time %>
                        </div>
                        <div class="column is-2"><font color="green">- ￥<%= parseFloat(histransac.transaction_amount).toLocaleString() %></font>
                        </div>
                        <div class="column is-2">￥
                            <%= parseFloat(histransac.remittance_balance).toLocaleString() %>
                        </div>
                        <% } else { %>
                            <div class="column is-3">
                                <%= histransac.receiving_time %>
                            </div>
                            <div class="column is-2"><font color="red">+ ￥<%= parseFloat(histransac.transaction_amount).toLocaleString() %> </font>
                            </div>
                            <div class="column is-2">￥
                                <%= parseFloat(histransac.receiving_balance).toLocaleString() %>
                            </div>
                            <% }%>
                                <div class="column is-2">
                                    <button type="submit" title="Details">Details</button>
                                </div>

                </form>
                <% }); %>


                    <!-- table里面不能放表单 -->

                    <!-- <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>业务摘要</th>
                                <th>交易时间</th>
                                <th>交易金额</th>
                                <th>余额</th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% histransacs.forEach( function(histransac) { %>

                                <tr>

                                    <th>
                                        <%= histransac.id %>
                                    </th>
                                    <td>
                                        <%= histransac.business_summary %>
                                    </td>
                                    <% if (histransac.remittance_card_number==curr_card_number) { %>
                                        <td>
                                            <%= histransac.remittance_time %>
                                        </td>
                                        <td>-
                                            <%= histransac.transaction_amount %>
                                        </td>
                                        <td>
                                            <%= histransac.remittance_balance %>
                                        </td>

                                        <% }else{%>
                                            <td>
                                                <%= histransac.receiving_time %>
                                            </td>
                                            <td>+
                                                <%= histransac.transaction_amount %>
                                            </td>
                                            <td>
                                                <%= histransac.receiving_balance %>
                                            </td>
                                            <% }%>
                                                <td>
                                                    <form action="/transac/details/" method="POST">
                                                        <input type="hidden" name="histransac_id"
                                                            value="<%= histransac.id %>">
                                                        <input type="hidden" name="curr_card_number"
                                                            value="<%= curr_card_number %>">
                                                        <button type="submit" title="Details">Details</button>

                                                    </form>
                                                </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table> -->
        </div>

        <form action="/transac/search/" method="POST" onsubmit="submitForm(this);return false">
            <!-- 第二列 -->
            <div class="column">

                <!-- 第二列第一行 -->
                <div class="columns">


                    <div class="column">
                        <div class="field">
                            <label class="label">交易日期</label>
                            <div class="control">
                                <!-- <input class="input" type="text" name="region" required> -->
                                <div class="select">
                                    <select onchange="regionSelected(this.value)" name="transaction_date">
                                        id="transaction_date">
                                        <option value="近一周">近一周</option>
                                        <option value="近一月">近一月</option>
                                        <option value="近三月">近三月</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">收支</label>
                            <div class="control">
                                <!-- <input class="input" type="text" name="region" required> -->
                                <div class="select">
                                    <select onchange="regionSelected(this.value)" name="income_expand">
                                        id="income_expand">
                                        <option value="全部">全部</option>
                                        <option value="收入">收入</option>
                                        <option value="支出">支出</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">时间排序</label>
                            <div class="control">
                                <!-- <input class="input" type="text" name="region" required> -->
                                <div class="select">
                                    <select onchange="regionSelected(this.value)" name="time_sorting" id="time_sorting">
                                        <option value="由近到远">由近到远</option>
                                        <option value="由远到近">由远到近</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">对方账户</label>
                            <div class="control">
                                <input class="input" type="number" name="opponent_card_number"
                                    id="opponent_card_number">
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="field">
                            <label class="label">对方名称</label>
                            <div class="control">
                                <input class="input" name="opponent_name" id="opponent_name">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- 第二列第二行 -->
                <div class="columns">
                    <div class="column">
                        <div class="field">
                            <label class="label">Min Coins</label>
                            <div class="control">
                                <input class="input" type="hidden" name="mincoin" id="mincoin">
                                <input class="input" type="text" name="min_show" id="min_show">
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Max Coins</label>
                            <div class="control">
                                <input class="input" type="hidden" name="maxcoin" id="maxcoin">
                                <input class="input" type="text" name="max_show" id="max_show">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 第二列第三行 -->
                <div class="columns">
                    <div class="column is-10">
                        <input class="input" type="hidden" name="card_number" id="card_number"
                            value="<%= curr_card_number %>">
                    </div>
                    <div class="column ">
                        <div class="field">
                            <p class="control">
                                <button class="button is-success">
                                    确定
                                </button>
                            </p>
                        </div>
                    </div>


                </div>
        </form>

    </div>


    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
    </script>
<script type="text/javascript">

    $("#max_show").bind('input propertychange',function () {
    var a = document.querySelector("#max_show").value
    // console.log(a)
    a = String(a)
    // console.log(a)
    // 如果想去掉所以的','，最简单的办法就是正则表达式了。下面是简单的例子。
    a = a.replace(/,/g,'');
    a = a.replace(/￥/g,'');
    // a = a.replace(/:/g,'');
    // a = parseFloat(a).toFixed(2)
    a = Number(a)
    // console.log(a)
    document.querySelector("#maxcoin").value = a;
    if (a==0)  document.querySelector("#maxcoin").value = "";
    // console.log(a)
    document.querySelector("#max_show").value = '￥ '+ String(parseFloat(a).toLocaleString());

   
   });

   
   $("#min_show").bind('input propertychange',function () {
    var b = document.querySelector("#min_show").value
    // console.log(b)
    b = String(b)
    // console.log(b)
    // 如果想去掉所以的','，最简单的办法就是正则表达式了。下面是简单的例子。
    b = b.replace(/,/g,'');
    b = b.replace(/￥/g,'');
    // b = b.replace(/:/g,'');
    b = Number(b)

    document.querySelector("#mincoin").value = b;
    if (b==0)     document.querySelector("#mincoin").value = "";

    document.querySelector("#min_show").value = '￥ '+ String(parseFloat(b).toLocaleString());

   
   });
   
   </script>    

    <script>
        async function submitForm(formElem) {

            var response = await fetch(formElem.action, {
                method: formElem.method,
                body: new FormData(formElem),
            });

            if (response.ok) {
                var html = await response.json();

                dynamicCode_init_list = '<div class="columns">' +
                    '<div class="column is-1">ID</div>' +
                    '<div class="column is-2">业务<br>摘要</div>' +
                    '<div class="column is-3">交易时间</div>' +
                    '<div class="column is-2">交易<br>金额</div>' +
                    '<div class="column is-2">余额</div>';
                dynamicCode_init_list += '</div>';

                html.histransacs.forEach(function (histransac) {

                    dynamicCode_init_list += '<form class="columns" action="/transac/details/" method="POST">' +
                        '<div class="column is-1">' +
                            String(histransac.id)+   
                        '<input type="hidden" name="histransac_id" value="' + String(histransac.id) + '">' +
                        '<input type="hidden" name="curr_card_number" value="' + String(html.curr_card_number) + '">' +
                        '</div>' +

                        '<div class="column is-2">' +
                        String(histransac.business_summary) +
                        '</div>';

                    if (histransac.remittance_card_number == html.curr_card_number) {
                        dynamicCode_init_list += '<div class="column is-3">' +
                            String(histransac.remittance_time) +
                            '</div>' +
                            '<div class="column is-2"><font color="green">- ￥' +
                            parseFloat(String(histransac.transaction_amount)).toLocaleString() +
                            '</font></div>' +
                            '<div class="column is-2">￥' +
                            parseFloat(String(histransac.remittance_balance)).toLocaleString() +
                            '</div>';

                    } else {
                        dynamicCode_init_list += '<div class="column is-3">' +
                            String(histransac.receiving_time) +
                            '</div>' +
                            '<div class="column is-2"><font color="red">+ ￥' +
                            parseFloat(String(histransac.transaction_amount)).toLocaleString() +
                            '</font></div>' +
                            '<div class="column is-2">￥' +
                            parseFloat(String(histransac.receiving_balance)).toLocaleString() +
                            '</div>';
                    }

                    dynamicCode_init_list += '<div class="column is-2">' +
                        // dynamicCode_init_list += '<td> <a href="http://www.w3school.com.cn"> Details </button>' +
                        '<button type="submit" title="Details">Details</button>' +
                        '</div>' +
                        '</form>';
                });

                // dynamicCode_init_list += '</tbody> </table>'

                // console.log(dynamicCode_init_list)
                document.querySelector("#his_record").innerHTML = dynamicCode_init_list;

            } else if (response.status == 401) {
                var msg = await response.json();
                alert(msg);
            } else {
                alert(response.statusText);
            }
        };
    </script>